doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form PUG 
  body 
    //- h1 User Form 
    //- form(action="get-data", method="GET")
    //-   label Name:
    //-   input(type="text", name="name", placeholder="Enter Name" required)
    //-   br
    //-   br
    //-   label Email: 
    //-   input(type="email", name="email", placeholder="Enter Email", required)
    //-   br
    //-   br
    //-   input(type="submit", value="Submit")
    h1 User Form 
    form(action="signup", method="POST")
      label Name:
      input(type="text", name="name", placeholder="Enter Name" required)
      br
      br
      label Email: 
      input(type="email", name="email", placeholder="Enter Email", required)
      br
      br
      input(type="submit", value="Submit")